.mainContainer{


.Content {
    width: 90%;
    margin: 60px auto 0px auto;
    display: flex;
    align-items: flex-start;

    .Logo {
        width: 80%;

        img {
            width: 120px;
            height: auto;
            @media screen and (max-width: 600px){
                width: 120px;
            }
        }
       

        @media screen and (max-width: 600px){
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .HeaderMenu {
        width: 40%;

        ul {


            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;




            li {
                list-style: none;
            }

            li {
                button {

                    cursor: pointer;
                    width: 190.81px;
                    height: 40px;
                    left: 1532.58px;
                    top: 91px;
                    background: #000000;
                    border-radius: 60px;
                    color: white;

                }
            }

        }

        @media screen and (max-width: 600px) {
          display: none;
          }


    }
}}